verification/software/program_c.s
verification/software/compile_c.sh
verification/software/program.c
*.fst
*.o
*.hex
*.bin
program
*.pyc
__pycache__
.pytest_cache
test_report.xml
sim_build
.DS_Store
.cocotb-results
.vscode
sim_log.txt