verification/sim_build
verification/__pycache__
verification/software/program_c.s
verification/software/compile_c.sh
verification/software/program.c
*.fst
*.o
*.hex
*.bin
program
*.pyc
verification/scripts/sim_build